h1 {
  margin: 0 auto;
  font-family: Arial;
  font-size: 35px;
}

.weather {
  width: 400px;
  height: 320px;
  background: #f70;
  border-radius: 10px;
  margin: 50px auto;
  color: #fff;
  font-family: Arial;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
